.contact-info-container {
    font-family: sans-serif;
}

.contact-info-header {
    background-color: #3b706a;
    padding: 2rem 1rem;
    text-align: center;
    position: relative;
}

.back-button {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.contact-info-img {
    width: 100px;
    border-radius: 100%;
}

.contact-info-name {
    color: white;
    margin-top: 1rem;
}

.contact-info-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.contact-info-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.contact-info-section {
    padding: 1rem;
}

.contact-info-section hr {
    margin: 1rem 0;
}

.contact-info-section p {
    margin: 0.5rem 0;
}

.contact-info-section small {
    color: gray;
}
